/*General
___________________________*/

html {
  background-color: #33C3F0;
  background-image: url('/home/dev/workspace/oliver-jk-redding.github.io/images/wellington_harbour_2005_by_awe_inspired.jpg');
  background-size: cover;
  background-attachment: fixed;
}
ul {
  list-style-type: none;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}
header li a {
  text-transform: uppercase;
}
a:hover {
  color: rgb(0,121,255);
}
.section {
  padding-bottom: 13%;
  text-align: center;
}

/*Header
___________________________*/

header li.columns {
  margin: 4px 0px 0px 0px;
  text-align: center;  
  float: right;  
}

/*Main Section
___________________________*/

.greeting {
  text-align: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto; 
  color: white; 
  font-size: 3.0rem;
}
.button.button-primary {
  background-color: transparent;
  border-color: transparent;
  font-size: 7.0rem;
  margin: 50px;  
}
.button.button-primary:hover {  
  background-color: transparent;
  border-color: transparent;
  font-size: 11.0rem;   
}
.button.button-primary:focus {  
  background-color: transparent;
  border-color: transparent;  
}

/*Footer
___________________________*/

footer li {
  margin: 0px; 
  font-size: 1.6rem;   
}
div.columns.footer {
  float: right;
}
.footer-item {  
  margin: 0px 10px;
  display: inline-block;  
}